*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	min-width: 920px;
	background: #D4C28A;
}
div#container{
	width: 90%;
	margin: 0 auto;
	padding: 25px;
}
img.header_img{
	height: 100px;
	width: 150px;
	background: white;
	margin: 0 7px;
	vertical-align: bottom;
}
div.row{
	text-align: center;
	margin: 7px 0;
}
	div.row h1{
		display: inline-block;
	}
div.box{
	height: 150px;
	width: 150px;
	margin: 0 1px;
	padding: 10px;
	border: 3px solid black;
	display: inline-block;
	vertical-align: top;
}
div.box:nth-child(even){
	background: #F55A58;		
}
div.box:nth-child(odd){
	background: #79A1C9;
}
	div.box img{
		height: 100%;
		width: 100%;
	}
